{% ckan_extends %}

  {% block basic_fields_url %}
    {% set is_upload = (data.url_type == 'upload') %}
    {{ form.image_upload(data, errors, field_url='url', field_upload='upload', field_clear='clear_upload',
       is_upload_enabled=h.uploads_enabled(), is_url=data.url and not is_upload, is_upload=is_upload,
       upload_label=_('Data Source'), url_label=_('Data Source'), placeholder=_('http://example.com/external-data.csv'), field_name='name') }}
  {% endblock %}

  {% block basic_fields_name %}
    {{ form.input('name', id='field-name', label=_('Data Source - Label'), placeholder=_('eg. January 2011 Gold Prices'), value=data.name, error=errors.name, classes=['control-full']) }}
  {% endblock %}

  {% block basic_fields_description %}
  {% endblock %}

  {% block metadata_fields %}

    {{ super() }}

    {% for field_id, field_attributes in h.resource_extra_fields %}
      {% if field_attributes['field_type'] and field_attributes['field_type'] == 'date' %}
        {{ form.input(field_id,
          label=_(field_attributes['label']), id='field-' + field_id,
          placeholder=_('YYYY-MM-DD'),
          value=data.get(field_id),
          error=errors.get(field_id),
          classes=['control-medium calendar'])
        }}
      {% elif field_attributes['field_type'] and field_attributes['field_type'] == 'textarea' %}
        {{ form.textarea(field_id,
          label = _(field_attributes['label']),
          id='field-' + field_id,
          value=data.get(field_id),
          error=errors.get(field_id),
          classes=['control-full'],
          is_required=field_attributes['required']|default(false))
        }}
      {% else %}
        {{ form.input(field_id,
          label=_(field_attributes['label']), id='field-' + field_id,
          placeholder=_(field_attributes['label']),
          value=data.get(field_id),
          error=errors.get(field_id),
          classes=['control-medium'])
        }}
      {% endif %}
    {% endfor %}

    {% resource 'datavic-odp-schema/jquery-ui.js' %}
    {% resource 'datavic-odp-schema/jquery-ui.css' %}
    {% resource 'datavic-odp-schema/jquery-ui.structure.css' %}
    {% resource 'datavic-odp-schema/datavic_odp_schema.js' %}

  {% endblock %}
